[submodule "WayFinder"]
	path = WayFinder
	branch = WayFinder2
	url = https://github.com/A-Loose-Screw/WayFinder.git

[submodule "WML"]
	path = WML
	branch = master
	url = https://github.com/wml-frc/WML.git
[submodule "CJ-Vision"]
	path = CJ-Vision
	url = https://github.com/wml-frc/CJ-Vision.git
